# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# debug information files
*.dwo
*.ps1
# markdown files
*.md

# pyc files
*.pyc
*.gz
*.pkl*
*.npy
*.gzip
*.bz2
*.npy.z
*.lzma
*joblib*
.venv-pico-model*
*.json
*ipynb
*.pcap



*.model
*ipynb*
*.csv
*.ps1
*.cmake
*.yaml
*.ninja
build/
*.pem
gdroot-g2.crt.pem
CMakeLists.txt
rmii-upstream-history.bundle